@model ClinicaMedica.Model.DTOs.Create.MedicosCreacionDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicosCreacionDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
            </div>
             <div class="form-group">
                <label asp-for="Persona.Apellido" class="control-label"></label>
                <input asp-for="Persona.Apellido" class="form-control" />
            </div>
             <div class="form-group">
                <label asp-for="Persona.Dni" class="control-label"></label>
                <input asp-for="Persona.Dni" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="control-label"></label>
                <input asp-for="Persona.Direccion" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Persona.Telefono" class="control-label"></label>
                <input asp-for="Persona.Telefono" class="form-control" />
            </div>
                        
            <div class="form-group">
                <label asp-for="EspecialidadId" class="control-label"></label>
                <input asp-for="EspecialidadId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Sueldo" class="control-label"></label>
                <input asp-for="Sueldo" class="form-control" />
                <span asp-validation-for="Sueldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

